<div class="content" role="main">
  <h2>Person management test prototype</h2>
  
  <!-- Find person form -->
  <form class="card-container">
    <!-- Search field for personal code-->
    <div class="form-group">
      <label for="pk"><b>Personal code</b></label>
      <input type="text" class="card card-small" id="pk"/>
    </div>

    <!-- Search field for birth date-->
    <div class="form-group">
      <label for="bd"><b>Birth date</b></label>
      <input type="text" class="card card-small" id="bd"/>
    </div>

    <!-- Find button -->
    <div class="form-group">
      <label for="fb">&nbsp;</label>
      <div class="card card-small" tabindex="0" id="fb">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>Find person</span>
      </div>
    </div>

    <!--Add button -->
    <div class="form-group">
      <label for="ab">&nbsp;</label>
      <div class="card card-small" tabindex="1" id="ab" data-toggle="modal" data-target="#exampleModal">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>Add person</span>
      </div>
    </div>
  </form>
  
  <!-- Add person modal window-->
  <app-add-window></app-add-window>

  <!-- Result data table -->
  <table class="table">
    <thead>
    <tr>
      <th *ngFor="let header of tableHeaders" scope="col">{{header}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
      <th scope="row">{{person.id}}</th>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.gender}}</td>
      <td>{{person.dateOfBirth}}</td>
      <td><button type="button" class="btn btn-link">Edit</button></td>
      <td><button type="button" class="btn btn-link">Delete</button></td>
    </tr>
    </tbody>
  </table>

  <!-- Frontend design image -->
  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
       viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39"
          d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
          transform="translate(142.69 -634.312)" fill="#eee"/>
  </svg>
</div>